<h1>Foods Index Page</h1>

<h3>Total Hits: <%= @total_hits %></h3>

<h3>Food:</h3>
<% @foods.each do |food| %>
  <p><%= food.gtin%></p> 
  <p><%= food.description%></p> 
  <p><%= food.brand_owner%></p> 
  <p><%= food.ingredients%></p> 
<% end %>